IO_LOC "ex_clk_27m" 4;
IO_PORT "ex_clk_27m" IO_TYPE=LVCMOS33;

IO_LOC "s1" 88;
IO_PORT "s1" IO_TYPE=LVCMOS33;
IO_LOC "s2" 87;
IO_PORT "s2" IO_TYPE=LVCMOS33;

IO_LOC "ex_msel[0]" 73;
IO_PORT "ex_msel[0]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_msel[1]" 74;
IO_PORT "ex_msel[1]"  IO_TYPE=LVCMOS33;
//IO_LOC "entradas[1]" 85;
//IO_PORT "entradas[1]"  IO_TYPE=LVCMOS33;
//IO_LOC "entradas[2]" 77;
//IO_PORT "entradas[2]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_m1_n" 15;
IO_PORT "ex_bus_m1_n"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_rfsh_n" 16;
IO_PORT "ex_bus_rfsh_n"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_wait_n" 27;
IO_PORT "ex_bus_wait_n"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_int_n" 28;
IO_PORT "ex_bus_int_n"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data[7]" 25;
IO_PORT "ex_bus_data[7]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data[6]" 26;
IO_PORT "ex_bus_data[6]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data[5]" 29;
IO_PORT "ex_bus_data[5]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data[4]" 30;
IO_PORT "ex_bus_data[4]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data[3]" 31;
IO_PORT "ex_bus_data[3]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data[2]" 17;
IO_PORT "ex_bus_data[2]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data[1]" 20;
IO_PORT "ex_bus_data[1]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data[0]" 19;
IO_PORT "ex_bus_data[0]" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data_reverse_n" 18;
IO_PORT "ex_bus_data_reverse_n"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_data_reverse" 77;
IO_PORT "ex_bus_data_reverse"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_mreq_n" 52;
IO_PORT "ex_bus_mreq_n"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_iorq_n" 53;
IO_PORT "ex_bus_iorq_n"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_rd_n" 71;
IO_PORT "ex_bus_rd_n"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_wr_n" 72;
IO_PORT "ex_bus_wr_n"  IO_TYPE=LVCMOS33;
//IO_LOC "entradas[20]" 79;
//IO_PORT "entradas[20]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_reset_n" 86;
IO_PORT "ex_bus_reset_n" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_clk_3m6" 49;
IO_PORT "ex_bus_clk_3m6" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_mp[0]" 55;
IO_PORT "ex_bus_mp[0]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_mp[1]" 48;
IO_PORT "ex_bus_mp[1]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_mp[2]" 51;
IO_PORT "ex_bus_mp[2]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_mp[3]" 54;
IO_PORT "ex_bus_mp[3]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_mp[4]" 56;
IO_PORT "ex_bus_mp[4]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_mp[5]" 41;
IO_PORT "ex_bus_mp[5]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_mp[6]" 42;
IO_PORT "ex_bus_mp[6]"  IO_TYPE=LVCMOS33;
//IO_LOC "entradas[30]" 80;
//IO_PORT "entradas[30]"  IO_TYPE=LVCMOS33;
IO_LOC "ex_bus_mp[7]" 76;
IO_PORT "ex_bus_mp[7]"  IO_TYPE=LVCMOS33;

//hdmi pins
IO_LOC "data_p[0]" 35,36;
IO_PORT "data_p[0]" PULL_MODE=NONE DRIVE=4;
IO_LOC "data_p[1]" 37,38;
IO_PORT "data_p[1]" PULL_MODE=NONE DRIVE=4;
IO_LOC "data_p[2]" 39,40;
IO_PORT "data_p[2]" PULL_MODE=NONE DRIVE=4;
IO_LOC "clk_p" 33,34;
IO_PORT "clk_p" PULL_MODE=NONE DRIVE=4;